body {
    margin: 0;
    font-family:Cambria;
}

header{
    width:100%;
    background:#25b638 
}

#btnMenu {
    display:none;
}

header label{
    display:none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}

header label:hover{
    cursor:pointer;
    background:rgba(0,0,0,0.3);
}

.menu ul{
    margin:0;
    list-style:none;
    padding:0;
    display:flex;
    
}

.menu li{
    text-align:center;
    flex-grow:1;
}

.menu li:hover{
    background: rgba(0,0,0,0.3);
}

.menu li a{
    display:block;
    padding: 15px 20px;
    color:#fff;
    text-decoration:none;
}   

.menu #desple{
    display:none;
    
}

.menu li:hover #desple{
    display:block;
}
